@using QMS.Core.Resources
@model QMS.Data.Batchs

@{
    ViewBag.Title = GeneralRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
  var message = TempData["AlertMessage"] ?? string.Empty;
    string lang = CommonRes.Lang;
    string reportName = "rptRleaseReport";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form>


        <div class="row">

            <div class="col-lg-12">

                <div class="panel panel-light-blue">


                    <div class="panel-heading">
                        <h2 class="panel-title">@MenusRes.BatchRelease </h2>
                    </div>

                    <div class="panel-body">

                        @Html.ValidationSummary(true)

                        <hr />

                        <div class="form-group row">


                            <div class="col-lg-3">
                                @Html.Label(QMSRes.Batch)

                                @Html.DropDownListFor(model => model.SYSTEMID,
                                                        ViewBag.ActiveBatches as SelectList,
                                                        CommonRes.SelectDropDown,
                                                        new { @class = "form-control", @onChange = "batchSelected();" })
                                @Html.ValidationMessageFor(model => model.SYSTEMID)

                            </div>

                        </div>
                        <div id="batchForm">

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </form>
}


@section Scripts {
    <script type="text/javascript">

        function batchSelected() {

            var target = $('#batchForm');
            var input = { batchId: $('#SYSTEMID').val()};
            $.ajax({
                url: '/Release/FillBatchDetails',
                type: "POST",
                data: JSON.stringify(input),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    target.html(data);

                },
                error: function () {
                }
            });

        }
        
        function GenerateReport() {

            ShowReport(
                {

                    Status: "status",


                }, "/Release/GetReport/", "@reportName", "@CommonRes.Lang");


        }
    </script>
<script type="text/javascript">

        var message = '@message';
    if (message) {
        GenerateReport();
         alert(message);

    }
    //GenerateReport();
    // alert(message);

   // }

</script>
}