
@model IEnumerable<QMS.Data.BRANCH>
@using QMS.Core.Resources
@using QMS
@using GridMvc.Html


<style type="text/css">
    .paging-nav {
        text-align: right;
        padding-top: 2px;
    }

        .paging-nav a {
            margin: auto 1px;
            text-decoration: none;
            display: inline-block;
            padding: 1px 7px;
            background: #91b9e6;
            color: white;
            border-radius: 3px;
        }

        .paging-nav .selected-page {
            background: #187ed5;
            font-weight: bold;
        }

    .paging-nav,
    #tableData {
        margin: 0 auto;
        font-family: Arial, sans-serif;
    }
</style>
<div id="outputTable">
    

    <table id="tableData" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    #
                </th>

                <th>
                    @Html.DisplayName(QMSRes.BranchName)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ToArray().Length; i++)
            {
                var items = Model.ToArray();
                <tr>
                    <td>
                        @Html.Raw(i + 1)
                    </td>
                    <td>
                        <input id="items[@i].BRANCH_NAME" class="form-control" value="@items[i].BRANCH_NAME" type="text" disabled="disabled">
                    </td>
                    <td>
                        <input type="button" value="@CommonRes.Delete" class="btn btn-success hvr-bounce-in" onclick="deleteItem(@items[i].SYSTEMID);" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<script type="text/javascript">
    



</script>

