@using QMS.Core.Resources
@model QMS.Data.Batchs

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Batch Added Sucessfully</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form>


        <div class="row">

            <div class="col-lg-12">

                <div class="panel panel-light-blue">


                    <div class="panel-heading">
                        <h2 class="panel-title">@MenusRes.BatchRegisteration</h2>
                    </div>

                    <div class="panel-body">

                        @Html.ValidationSummary(true)

                        <hr />

                        <div class="form-group row">


                            <div class="col-lg-3">
                                @Html.Label(QMSRes.BatchNumber)

                                @Html.TextBoxFor(model => model.SYSTEMID, new { @class = "form-control",@disabled="disabled" })
                            </div>
                           
                        </div>
                        <div class="panel panel-light-blue">


                            <div class="panel-heading">

                                <h4 class="panel-title">@QMSRes.batchLables</h4>
                            </div>


                            <div class="panel-body">
                                <hr />

                         
                               



                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        @{Html.RenderPartial("Partial/_BatchLabelsPartial", Model.PensLables.ToList());}
                                    </div>
                                </div>
                                </div>
                        </div>

               
                                      <div class="form-group">

                                        <center class="mgtp">

                                            &nbsp;
                                            @Html.ActionLink("OK", "Index", null, new { @class = "btn btn-warning hvr-bounce-in" })

                                        </center>

                                    </div>



                                </div>
                            </div>

                        </div>
                    </div>

    </form>
}


<div>
    @Html.ActionLink(CommonRes.BackToList, "Index")
</div>

@section Scripts {
    <script type="text/javascript">

        
        function typeSelected() {

            var target = $('#AverageWeight');
            var input = { typeID: $('#typeID').val()};
            $.ajax({
                url: '/BatchRegisteration/typeSelected',
                type: "POST",
                data: JSON.stringify(input),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    target.val(data);

                },
                error: function () {
                }
            });

          
        }
        function regionSelected() {

            GetDropDownData({ regionId: $('#Regions').val() }, "/BatchRegisteration/regionSelected", "marketID", " ", true);

        }

        function addChemical(_ddlDesc) {

            var target = $('#outputTable2');
            var input = { ChemicalAMT: $('#ChemicalAMT').val(), ChemicalType: $('#ChemicalType').val() };
            $.ajax({
                url: '/BatchRegisteration/addChemical',
                type: "POST",
                data: JSON.stringify(input),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    target.html(data);

                },
                error: function () {
                }
            });

            $('#ChemicalAMT').val("");
            $('#ChemicalType').val("");
        }
        function add(_ddlDesc) {

            var target = $('#outputTable');
            var input = { rejectedAnimals: $('#rejectedAnimals').val(), rejectedReasons: $('#rejectedReasons').val() };
            $.ajax({
                url: '/BatchRegisteration/Add',
                type: "POST",
                data: JSON.stringify(input),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    target.html(data);

                },
                error: function () {
                }
            });

            $('#rejectedAnimals').val("");
            $('#rejectedReasons').val("");
        }
    </script>
}