
@model IEnumerable<QMS.Data.PEN>
@using QMS.Core.Resources
@using QMS


<style type="text/css">
    .paging-nav {
        text-align: right;
        padding-top: 2px;
    }

        .paging-nav a {
            margin: auto 1px;
            text-decoration: none;
            display: inline-block;
            padding: 1px 7px;
            background: #91b9e6;
            color: white;
            border-radius: 3px;
        }

        .paging-nav .selected-page {
            background: #187ed5;
            font-weight: bold;
        }

    .paging-nav,
    #tableData {
        margin: 0 auto;
        font-family: Arial, sans-serif;
    }
</style>
<div id="outputTable">



    <table id="tableData" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayName(QMSRes.Name)
                </th>
                <th>
                    @Html.DisplayName(QMSRes.Animan_TYPE_NAME)
                </th>
                <th>
                    @Html.DisplayName(QMSRes.Capacity)
                </th>
                <th>
                    @Html.DisplayName(QMSRes.Note)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ToArray().Length; i++)
            {
                var items = Model.ToArray();
                <tr>
                    <td>
                        @Html.Raw(i + 1)
                    </td>
                    <td>
                        <input id="items[@i].Name" class="form-control" value="@items[i].Name" type="text" disabled="disabled">

                    </td>
                    <td>
                        <input id="items[@i].ANIMAL_TYPE.TYPE_NAME" class="form-control" value="@items[i].ANIMAL_TYPE.TYPE_NAME" type="text" disabled="disabled">

                    </td>
                    <td>
                        <input id="items[@i].CAPACITY" class="form-control" value="@items[i].CAPACITY" type="text" disabled="disabled">
                        
                    </td>
                   
                    <td>
                        <input id="items[@i].NOTES" class="form-control" value="@items[i].NOTES" type="text" disabled="disabled">

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<script type="text/javascript">




</script>

