@using QMS.Core.Resources
@model QMS.Data.DRIVERS

@{
    ViewBag.Title = GeneralRes.Create;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@GeneralRes.Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form>


        <div class="row">

            <div class="col-lg-12">

                <div class="panel panel-light-blue">


                    <div class="panel-heading">
                        <h2 class="panel-title">@MenusRes.Drivers</h2>
                    </div>

                    <div class="panel-body">

                        @Html.ValidationSummary(true)

                        <hr />

                        <div class="form-group row">


                            <div class="col-lg-3">
                                @Html.Label(QMSRes.Name)

                                @Html.TextBoxFor(model => model.DRIVER_NAME, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DRIVER_NAME)
                            </div>
                            <div class="col-lg-3">
                                @Html.Label(QMSRes.PhoneNo)

                                @Html.TextBoxFor(model => model.PHONE_NO, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DRIVER_NAME)
                            </div>
                            <div class="col-lg-3">
                                @Html.Label(QMSRes.DriverLicense)

                                @Html.TextBoxFor(model => model.DRIVER_LICENSE, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DRIVER_NAME)
                            </div>
                            <div class="col-lg-3">
                                @Html.Label(QMSRes.ExpiryDate)

                                @Html.TextBoxFor(model => model.EXPIRY_DATE, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DRIVER_NAME)
                            </div>
                            <div class="col-lg-3">
                                @Html.Label(QMSRes.Address)

                                @Html.TextAreaFor(model => model.ADDRESS, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ADDRESS)
                            </div>
                            

                        </div>
                        <div>

                            <center>
                                <p>
                                    <input type="button" value="@CommonRes.add" id="Add" class="btn btn-success hvr-bounce-in" onclick="add(this.id);" />
                                </p>
                            </center>



                        </div>



                        <div id="outputTable">

                        </div>

                        <div class="form-group">

                            <center class="mgtp">

                                <input type="submit" value="@CommonRes.Button_Save" class="btn btn-primary hvr-bounce-in" />
                                &nbsp;
                                @Html.ActionLink(CommonRes.BackToList, "Index", null, new { @class = "btn btn-warning hvr-bounce-in" })

                            </center>                            
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </form>
    
}


<div>
    @Html.ActionLink(CommonRes.BackToList, "Index")
</div>

@section Scripts {
    <script type="text/javascript">

        

        function add(_ddlDesc) {

            var target = $('#outputTable');
            var input = {
                name: $('#DRIVER_NAME').val(),
                phoneNo: $('#PHONE_NO').val(),
                address: $('#ADDRESS').val(),
                driverLicense: $('#DRIVER_LICENSE').val(),
                expiryDate: $('#EXPIRY_DATE').val()
            };
            $.ajax({
                url: '/Drivers/Add',
                type: "POST",
                data: JSON.stringify(input),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    target.html(data);
                    $('#DRIVER_NAME').val("");
                    $('#PHONE_NO').val("");
                    $('#ADDRESS').val("");
                    $("#DRIVER_LICENSE").val("");
                    $("#EXPIRY_DATE").val("");
                },
                error: function () {
                }
            });

            
        }
    </script>
}